<div ng-controller="HomeCtrl">
  <div class="hidden" id="avatar"><%=current_user.avatar if current_user %></div>
  <% if @player.errors.any? %>
    <%= @player.errors.full_messages %>
  <% end %>
<section class="landing" style="position:relative;">
    <div class="vid-container" >
      <video autoplay loop preload="auto" muted>
        <source src="https://s3-us-west-2.amazonaws.com/dynamicowlwendy/mind_virtuoso.mp4" type="video/mp4">
      </video>
    </div>
    <div class="video-overlay">
      <div class="col s12 m9 l10 text">
        <h1 class="light">g g r e p o r t e d</h1>
        <h4 class="light">Real players. Real reviews.</h4>
        <%= form_for @player, class: 'job_search_form' do |f| %>
          <div class="search_jobs">
              <div class="search_keywords input-field">
                <%= f.text_field :name, class: 'input-name' %>
                <%= f.label :enter_summoner_name, class: 'input-name' %>
              </div>
              <div class="search_categories">
                <%= f.select :region, options_for_select(regions), :include_blank => "Select Region" %>
              </div>
              <div class="search_button">
                <%=f.button 'Search', class: 'btn waves-effect waves-light'%>
              </div>
            </div>
          </ul>
        <% end %>
        </form>
      </div>
    </div>
  </section>
  <section class="recent-searches row m-0">
    <div class="col s12 l7 mr-40 pl-50">
      <h4>Check out lastest Summoner Searches</h4>
      <ul class="collection">
        <li class="collection-item avatar mb-5" ng-repeat="player in players">
          <a ng-href="/players/{{player.player.id}}" class="cursor">
            <img src="https://s3-us-west-2.amazonaws.com/dynamicowlwendy/profileicon/{{player.player.icon}}.png" alt="" class="circle">
            <span class="title">
                <h1 class="light" ng-bind="player.player.display_name">
                </h1>
              <div class="elapsed" ng-bind="player.last_review.created_at | elapsed"></div>
            </span>
            <span class='stars-rating'>
              <i class="fa" ng-class="player.average_rating < 1 ? 'fa-star-o' : 'fa-star'"></i>
              <i class="fa" ng-class="player.average_rating < 2 ? 'fa-star-o' : 'fa-star'"></i>
              <i class="fa" ng-class="player.average_rating < 3 ? 'fa-star-o' : 'fa-star'"></i>
              <i class="fa" ng-class="player.average_rating < 4 ? 'fa-star-o' : 'fa-star'"></i>
              <i class="fa" ng-class="player.average_rating < 5 ? 'fa-star-o' : 'fa-star'"></i>
            </span>
            <span class="new badge">{{player.player.region}}, Level {{player.player.level}}</span>
            <p>
              <q ng-bind="player.last_review.message"></q>
            </p>
            <a href="#!" class="secondary-content cursor">
              <i class="fa bookmark-icon" ng-class="{ 'fa-bookmark' : player.bookmarked, 'fa-heart-o' : !player.bookmarked }" ng-click="player.bookmarked ? unbookmarkPlayer(player.player.id, $index) : bookmarkPlayer(player.player.id, $index)"></i>
            </a>
          </a>
        </li>
      </ul>
    </div>
    <div class="col s12 l4 profile-info hide-on-small-only">
      <h4>Contact Us</h4>
      <!-- Send Message -->
      <div class="card">
        <div class="title">
          <h5><i class="fa fa-user"></i> Your Feedback </h5>
        </div>
        <div class="content">
          <form action="#!">
            <div class="input-field">
              <textarea id="textarea1" class="materialize-textarea" name="message"></textarea>
              <label for="textarea1">send us a message</label>
            </div>
            <button class="btn">Send</button>
          </form>
        </div>
      </div>
      <!-- /Send Message -->
      <div class="contacts">
        <a href="https://www.facebook.com/ggezus/" class="blue darken-3 white-text waves-effect"><i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com/_ggez" class="blue lighten-2 white-text waves-effect"><i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </section>
</div>
<!-- <div id="content" class="site-content">
    <div style="padding: 0; background-color: none;" class="homepage-cover page-cover entry-cover has-image">
      <q class="assembly">
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="tri"></q>
        <q class="hex"></q>
      </q>
    </div>

</div> -->

<div id="ajax-response"></div>
