<div>
  Landing
</div>

<p>Find me in app/views/landing/index.html.erb</p>

<% if !current_user %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>
<% if current_user %>
  <%= link_to 'sign out', destroy_user_session_path, method: 'delete' %>
<% end %>

<% if @player.errors %>
  <%= @player.errors.full_messages %>
<% end %>


<%= form_for @player do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :region %>
  <%= f.select :region, options_for_select(regions), :include_blank => "Select Region" %>
  <%= f.submit 'find' %>
<% end %>



<link rel="alternate" type="application/rss+xml" title="Listify &raquo; Feed" href="https://demo.astoundify.com/listify/feed/" />
<link rel="alternate" type="application/rss+xml" title="Listify &raquo; Comments Feed" href="https://demo.astoundify.com/listify/comments/feed/" />
    <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/demo.astoundify.com\/listify\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.3.1"}};
      !function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
img.wp-smiley,
img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
</style>
<link rel='stylesheet' id='wc-social-login-frontend-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/woocommerce-social-login/assets/css/frontend/wc-social-login.min.css?ver=1.6.0' type='text/css' media='all' />
<style id='wc-social-login-frontend-inline-css' type='text/css'>
 a.button-social-login.button-social-login-facebook, .widget-area a.button-social-login.button-social-login-facebook, .social-badge.social-badge-facebook { background: #3b5998; } a.button-social-login.button-social-login-twitter, .widget-area a.button-social-login.button-social-login-twitter, .social-badge.social-badge-twitter { background: #00aced; } a.button-social-login.button-social-login-google, .widget-area a.button-social-login.button-social-login-google, .social-badge.social-badge-google { background: #dd4b39; } a.button-social-login.button-social-login-instagram, .widget-area a.button-social-login.button-social-login-instagram, .social-badge.social-badge-instagram { background: #517fa4; }
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-ui-style-css'  href='//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='wc-bookings-styles-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/woocommerce-bookings/assets/css/frontend.css?ver=1.8.2' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.4.12' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.4.12' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='wp-job-manager-tags-frontend-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-tags/assets/css/style.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='wpjm-extended-location-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-extended-location/assets/css/wp-job-manager-extended-location.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='wp-job-manager-reviews-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-reviews/assets/css/wp-job-manager-reviews.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='https://demo.astoundify.com/listify/wp-includes/css/dashicons.min.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='wc-paid-listings-packages-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-wc-paid-listings/assets/css/packages.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='listify-fonts-css'  href='//fonts.googleapis.com/css?family=Montserrat%3A400%2C700&#038;subset=latin%2Clatin-ext&#038;ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='listify-css'  href='https://demo.astoundify.com/listify/wp-content/themes/listify/css/style.min.css?ver=20151124' type='text/css' media='all' />
<style id='listify-inline-css' type='text/css'>
.nav-menu .sub-menu.category-list,ul.nav-menu .sub-menu.category-list,input,textarea,.site select,.facetwp-facet .facetwp-checkbox:before,.widget_layered_nav li a:before,.site-main .content-box select,.site-main .job_listings select,body .chosen-container-single .chosen-single,body .chosen-container-multi .chosen-choices li.search-field input[type=text],.select2-container .select2-choice,.entry-content div.mce-toolbar-grp{background-color:#f3f6f9;}.listing-cover,.entry-cover,.homepage-cover.page-cover,.list-cover{background-color:#e6e9ec;}input,textarea,input[type="checkbox"],input[type="radio"],.site select,.facetwp-facet .facetwp-checkbox:before,.widget_layered_nav li a:before,.site-main .content-box select,.site-main .job_listings select,.content-pagination .page-numbers,.facetwp-pager .facetwp-page,.js-toggle-area-trigger,.chosen-container-multi .chosen-choices,.wp-editor-wrap,.account-sign-in,.filter_by_tag,.job-manager-form fieldset.fieldset-job_hours,.ninja-forms-required-items,.showing_jobs,.summary .stock,.woocommerce-tabs .woocommerce-noreviews,.entry-content .rcp_form input[type="text"]:focus,.entry-content .rcp_form input[type="password"]:focus,.entry-content .rcp_form input[type="email"]:focus,.entry-content div.mce-toolbar-grp,body .chosen-container-single .chosen-single,body .chosen-container-multi .chosen-choices,body .chosen-container-multi .chosen-choices li.search-field input[type=text],.payment_methods li .payment_box,.search-choice-close,.filter_by_tag a:before,.woocommerce .quantity input[type="button"]{border-color:#ebeef1;}.payment_methods li{background-color:#ebeef1;}.map-marker.type-46:after{border-top-color:#1abc9c;}.map-marker.type-46 i:after{background-color:#1abc9c;}.map-marker.type-46 i:before{color:#1abc9c;}.map-marker.type-23:after{border-top-color:#2c3e50;}.map-marker.type-23 i:after{background-color:#2c3e50;}.map-marker.type-23 i:before{color:#2c3e50;}.map-marker.type-174:after{border-top-color:#627e82;}.map-marker.type-174 i:after{background-color:#627e82;}.map-marker.type-174 i:before{color:#627e82;}.map-marker.type-50:after{border-top-color:#eb974e;}.map-marker.type-50 i:after{background-color:#eb974e;}.map-marker.type-50 i:before{color:#eb974e;}.map-marker.type-49:after{border-top-color:#d64541;}.map-marker.type-49 i:after{background-color:#d64541;}.map-marker.type-49 i:before{color:#d64541;}.map-marker.type-75:after{border-top-color:#1e73be;}.map-marker.type-75 i:after{background-color:#1e73be;}.map-marker.type-75 i:before{color:#1e73be;}.map-marker.type-163:after{border-top-color:#1fc6b6;}.map-marker.type-163 i:after{background-color:#1fc6b6;}.map-marker.type-163 i:before{color:#1fc6b6;}.map-marker.type-29:after{border-top-color:#8f5c3d;}.map-marker.type-29 i:after{background-color:#8f5c3d;}.map-marker.type-29 i:before{color:#8f5c3d;}.map-marker.type-72:after{border-top-color:#6bd4e0;}.map-marker.type-72 i:after{background-color:#6bd4e0;}.map-marker.type-72 i:before{color:#6bd4e0;}.map-marker.type-41:after{border-top-color:#2574a9;}.map-marker.type-41 i:after{background-color:#2574a9;}.map-marker.type-41 i:before{color:#2574a9;}.map-marker.type-28:after{border-top-color:#95cb70;}.map-marker.type-28 i:after{background-color:#95cb70;}.map-marker.type-28 i:before{color:#95cb70;}.map-marker.type-48:after{border-top-color:#7ccc8d;}.map-marker.type-48 i:after{background-color:#7ccc8d;}.map-marker.type-48 i:before{color:#7ccc8d;}.map-marker.type-156:after{border-top-color:#3b8473;}.map-marker.type-156 i:after{background-color:#3b8473;}.map-marker.type-156 i:before{color:#3b8473;}.map-marker.type-22:after{border-top-color:#6084ba;}.map-marker.type-22 i:after{background-color:#6084ba;}.map-marker.type-22 i:before{color:#6084ba;}.map-marker.type-43:after{border-top-color:#114589;}.map-marker.type-43 i:after{background-color:#114589;}.map-marker.type-43 i:before{color:#114589;}.map-marker.type-79:after{border-top-color:#dd3333;}.map-marker.type-79 i:after{background-color:#dd3333;}.map-marker.type-79 i:before{color:#dd3333;}a,.content-pagination .page-numbers.current{color:#3396d1;}a:active,a:hover,.primary-header .current-account-toggle .sub-menu a{color:#1a7db8;}.job_position_featured .content-box{box-shadow:0 0 0 3px #3396d1;}#wpjmr-submit-ratings .star-rating .dashicons-star-filled,#wpjmr-list-reviews .star-rating .dashicons-star-filled,.stars-rating .dashicons.dashicons-star-filled,#wpjmr-submit-ratings .choose-rating .star:hover,#wpjmr-submit-ratings .choose-rating .star:hover ~ .star,#wpjmr-submit-ratings .choose-rating .star.active,#wpjmr-submit-ratings .choose-rating .star.active ~ .star{color:#77c04b;}.woocommerce .quantity input[type="button"]{color:#77c04b;}.woocommerce-message,.job-manager-message{border-color:#77c04b;}.type-product .onsale,.type-product .price ins,.job-package-tag{background-color:#3396d1;}.woocommerce-tabs .tabs .active a{color:#3396d1;}.as-seen-on{background-color:#3396d1;}body,button,input,select,textarea,.current-account-user-info,.listify_widget_panel_listing_tags .tag,.entry-cover.no-image,.entry-cover.no-image a,.listing-cover.no-image,.listing-cover.no-image a:not(.button),.entry-footer .button.button-small,.button[name="apply_coupon"],.button[name="apply_coupon"]:hover,.widget a,.content-pagination .page-numbers,.facetwp-pager .facetwp-page,.type-job_listing.style-list .job_listing-entry-header,.type-job_listing.style-list .job_listing-entry-header a,.js-toggle-area-trigger,.job-dashboard-actions a,body.fixed-map .site-footer,body.fixed-map .site-footer a,.homepage-cover .job_search_form .select:after,.tabbed-listings-tabs a,.archive-job_listing-toggle,.map-marker-info a,.map-marker-info a:hover,.job-manager-form fieldset.fieldset-job_hours,.listing-by-term-title a,.listings-by-term-more a:hover,.search_location .locate-me:hover:before,.no-image .ion-ios-star:before,.no-image .ion-ios-star-half:before,.back-to-listing a,body .chosen-container-single .chosen-single,.select2-default,.select2-container .select2-choice,.select2-container-multi .select2-choices .select2-search-choice,body .homepage-cover .chosen-container .chosen-results li,.filter_by_tag a,a.upload-images,a.upload-images span,.nav-menu .sub-menu.category-list a,.woocommerce-tabs .tabs a,.job-manager-bookmark-actions a{color:#717a8f;}.comment-meta a,.commentlist a.comment-ago,div:not(.no-image) .star-rating:before,div:not(.no-image) .stars span a:before,.cta-subtext,.cta-description p,.job_listing-author-descriptor,.entry-meta,.entry-meta a,.home-widget-description,.listings-by-term-content .job_listing-rating-count,.listings-by-term-more a,.search-form .search-submit:before,.mfp-content .mfp-close:before,div:not(.job-package-price) .woocommerce .amount,.woocommerce .quantity,.showing_jobs{color:#949db2;}.social-profiles a,.listing-gallery-nav .slick-dots li button:before{background-color:#949db2;}.search-overlay,.primary-header{background-color:#3396d1;}.nav-menu a,.nav-menu li:before,.nav-menu li:after,.nav-menu a:before,.nav-menu a:after,.nav-menu ul a,.nav-menu.primary ul ul a,.nav-menu.primary ul ul li:before,.nav-menu.primary ul ul li:after{color:#3396d1;}.search-overlay a.search-overlay-toggle{color:#ffffff;}.listify_widget_panel_listing_tags .tag.active:before,.job-package-includes li:before,.woocommerce-tabs .tabs .active a{color:#77c04b;}.button-secondary:hover,.button-secondary:focus,input[type="button"].facetwp-reset:hover,input[type="button"].facetwp-reset:focus,.star-rating-wrapper a:hover ~ a:before,.star-rating-wrapper a:hover:before,.star-rating-wrapper a.active ~ a:before,.star-rating-wrapper a.active:before,.woocommerce-tabs .stars span a:hover:before,.woocommerce-tabs .stars span a.active:before,.woocommerce-tabs .stars span a.hover:before,.tabbed-listings-tabs a:hover,.tabbed-listings-tabs a.active,.archive-job_listing-toggle.active{color:#549d28;}button:not([role="presentation"]),input[type="button"],input[type="reset"],input[type="submit"],.button,.facetwp-type-slider .noUi-connect,.ui-slider .ui-slider-range,.listing-owner,.comment-rating,.job_listing-rating-average,.map-marker.active:after,.cluster,.widget_calendar tbody a,.job_listing-author-info-more a:first-child,.load_more_jobs{background-color:#77c04b;}button:not([role="presentation"]):hover,button:not([role="presentation"]):focus,input[type="button"]:hover,input[type="button"]:focus,input[type="reset"]:hover,input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,.button:hover,.button:focus,::selection,.load_more_jobs:hover,.update_results.refreshing{background-color:#72bb46;}::-moz-selection{background-color:#72bb46;}.facetwp-type-slider .noUi-horizontal .noUi-handle,.ui-slider .ui-slider-handle,.tabbed-listings-tabs a:hover,.tabbed-listings-tabs a.active,.archive-job_listing-toggle.active,li.job-package:hover,.job_listing_packages ul.job_packages li:hover,.woocommerce-info{border-color:#77c04b;}input[type=checkbox]:checked:before,.facetwp-facet .facetwp-checkbox.checked:after,.facetwp-facet .facetwp-link.checked,.widget_layered_nav li.chosen a:after,.widget_layered_nav li.chosen a,.ion-ios-star:before,.ion-ios-star-half:before,.upload-images:hover .upload-area,.comment-author .rating-stars .ion-ios-star,.archive-job_listing-layout.button.active,.job_listing_packages ul.job_packages li label,.upload-images:hover,.filter_by_tag a:after,.search-choice-close:after,.claimed-ribbon span:before{color:#3396d1;}.button-secondary,input[type="button"].facetwp-reset,.job_listing-author-info-more a:last-child{background-color:#3396d1;}.button-secondary:hover,.button-secondary:focus,input[type="button"].facetwp-reset:hover,input[type="button"].facetwp-reset:focus{background-color:#2e91cc;}.upload-images:hover{border-color:#3396d1;}.site-footer-widgets{background-color:#2f3339;}.site-footer{background-color:#22262c;}
@media screen and (min-width: 768px){.nav-menu .sub-menu.category-list{background-color:#f0f3f6;}}
@media screen and (min-width: 992px){.nav-menu.primary a,.nav-menu.primary li:before,.nav-menu.primary li:after,.nav-menu.primary a:before,.nav-menu.primary a:after{color:#ffffff;}.primary.nav-menu .current-cart .current-cart-count{background-color:#77c04b;border-color:#3396d1;}}
</style>
<link rel='stylesheet' id='listify-child-css'  href='https://demo.astoundify.com/listify/wp-content/themes/listify-child/style.css?ver=4.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='jetpack_css-css'  href='https://demo.astoundify.com/listify/wp-content/plugins/jetpack/css/jetpack.css?ver=3.8.2' type='text/css' media='all' />
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/woocommerce-social-login/assets/js/frontend/wc-social-login.min.js?ver=1.6.0'></script>
<script type='text/javascript' src='//maps.googleapis.com/maps/api/js?libraries=geometry,places&#038;language=en&#038;region=us'></script>
<script type='text/javascript' src='https://media.receiptful.com/scripts/tracking.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var cssTarget = "img.";
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/svg-support/js/min/svg-inline-min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-extended-location/assets/js/geo-tag-text.js?ver=2.1.0'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-extended-location/assets/js/mapify.js?ver=2.1.0'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-reviews/assets/js/wp-job-manager-reviews.js?ver=4.3.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://demo.astoundify.com/listify/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.astoundify.com/listify/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.3.1" />
<meta name="generator" content="WooCommerce 2.4.12" />
<link rel='canonical' href='https://demo.astoundify.com/listify/' />
<link rel='shortlink' href='https://demo.astoundify.com/listify/' />
  <style type="text/css">
      .site-branding .site-title,
    .site-branding .site-description,
    .site-header-minimal .site-title,
    .site-header-minimal .site-description {
      display: none;
    }
    .site-title a,
  .site-description {
    color: #blank;
  }
  </style>

<!-- Jetpack Open Graph Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Listify" />
<meta property="og:description" content="The last directory theme you will ever buy." />
<meta property="og:url" content="https://demo.astoundify.com/listify/" />
<meta property="og:site_name" content="Listify" />
<meta property="og:image" content="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/main-bg-top_mini-1.jpg" />
<meta property="og:image:width" content="2978" />
<meta property="og:image:height" content="999" />
<meta property="og:locale" content="en_US" />
<link rel="icon" href="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2015/08/cropped-astoundify_logo-32x32.png" sizes="32x32" />
<link rel="icon" href="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2015/08/cropped-astoundify_logo-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2015/08/cropped-astoundify_logo-180x180.png">
<meta name="msapplication-TileImage" content="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2015/08/cropped-astoundify_logo-270x270.png">
</head>

<body class="home page page-id-6 page-template page-template-page-templates page-template-template-home page-template-page-templatestemplate-home-php template-home fixed-header directory-fields color-scheme-default footer- listify listify-120 wp-job-manager wp-job-manager-bookmarks wp-job-manager-wc-paid-listings wp-job-manager-tags wp-job-manager-field-editor wp-job-manager-regions wp-job-manager-reviews wp-job-manager-products wp-job-manager-claim-listing woocommerce-social-login woocommerce woocommerce-bookings jetpack ratings listify-child wp-job-manager-categories-enabled wp-job-manager-categories-only">

<div id="page" class="hfeed site">

  <header id="masthead" class="site-header" role="banner">
    <div class="primary-header">
      <div class="container">
        <div class="primary-header-inner">
          <div class="site-branding">
                                      <a href="https://demo.astoundify.com/listify/" title="Listify" rel="home" class="custom-header"><img src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/copy-listify-footer-logo.svg" alt=""></a>

            <h1 class="site-title"><a href="https://demo.astoundify.com/listify/" rel="home">Listify</a></h1>
            <h2 class="site-description">The last directory theme you will ever buy.</h2>
          </div>

          <div class="primary nav-menu">
            <div class="nav-menu-container"><ul id="menu-menu" class="menu"><li class="menu-item menu-type-link"><a href="#search-header" data-toggle="#search-header" class="search-overlay-toggle"></a></li><li class="menu-item menu-type-link"><a href="https://demo.astoundify.com/listify/cart/" class="current-cart"><span class="current-cart-count">0</span> Items</a></li><li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="https://demo.astoundify.com/listify/blog/">Blog</a></li>
<li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="https://demo.astoundify.com/listify/plans-and-pricing/">Plans and Pricing</a></li>
<li id="menu-item-4482" class="popup-wide menu-item menu-item-type-post_type menu-item-object-page menu-item-4482"><a href="https://demo.astoundify.com/listify/my-account/" class="popup-trigger-ajax popup-wide">Log In</a></li>
</ul></div>         </div>
        </div>

                <div id="search-header" class="search-overlay">
          <div class="container">

<form role="search" method="get" class="search-form" action="https://demo.astoundify.com/listify/listings/">
  <label>
    <span class="screen-reader-text">Search for:</span>
    <input type="search" class="search-field" placeholder="Search" value="" name="search_keywords" title="Search for:" />
  </label>
  <button type="submit" class="search-submit"></button>
</form>
            <a href="#search-header" data-toggle="#search-header" class="ion-close search-overlay-toggle"></a>
          </div>
        </div>
                      </div>
    </div>

    <nav id="site-navigation" class="main-navigation" role="navigation">
      <div class="container">
        <a href="#" class="navigation-bar-toggle">
          <i class="ion-navicon-round"></i>
          Menu        </a>

        <div class="navigation-bar-wrapper">
          <div class="primary nav-menu"><ul id="menu-menu-1" class="primary nav-menu"><li class="menu-item menu-type-link"><a href="#search-header" data-toggle="#search-header" class="search-overlay-toggle"></a></li><li class="menu-item menu-type-link"><a href="https://demo.astoundify.com/listify/cart/" class="current-cart"><span class="current-cart-count">0</span> Items</a></li><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="https://demo.astoundify.com/listify/blog/">Blog</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="https://demo.astoundify.com/listify/plans-and-pricing/">Plans and Pricing</a></li>
<li class="popup-wide menu-item menu-item-type-post_type menu-item-object-page menu-item-4482"><a href="https://demo.astoundify.com/listify/my-account/" class="popup-trigger-ajax popup-wide">Log In</a></li>
</ul></div><div class="secondary nav-menu"><ul id="menu-secondary" class="secondary nav-menu"><li id="categories-mega-menu" class="ion-navicon-round menu-item menu-type-link"><a href="https://demo.astoundify.com/listify/listings/">Browse Categories</a><ul class="sub-menu category-list"><form id="job_listing_tax_mobile" action="https://demo.astoundify.com/listify" method="get"><select name='job_listing_category' id='job_listing_category' class='postform' >
  <option value='0' selected='selected'>Select a Category</option>
  <option class="level-0" value="arts-entertainment">Arts &amp; Entertainment&nbsp;&nbsp;(2)</option>
  <option class="level-0" value="automotive">Automotive&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="bars">Bars&nbsp;&nbsp;(3)</option>
  <option class="level-0" value="beauty-spas">Beauty &amp; Spas&nbsp;&nbsp;(3)</option>
  <option class="level-0" value="financial-services">Financial Services&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="food">Food&nbsp;&nbsp;(13)</option>
  <option class="level-0" value="health-medical">Health &amp; Medical&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="home-services">Home Services&nbsp;&nbsp;(9)</option>
  <option class="level-0" value="hotels-travel">Hotels &amp; Travel&nbsp;&nbsp;(3)</option>
  <option class="level-0" value="nightlife">Nightlife&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="pets">Pets&nbsp;&nbsp;(4)</option>
  <option class="level-0" value="public-services-government">Public Services &amp; Government&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="real-estate">Real Estate&nbsp;&nbsp;(0)</option>
  <option class="level-0" value="restaurants">Restaurants&nbsp;&nbsp;(11)</option>
  <option class="level-0" value="shopping">Shopping&nbsp;&nbsp;(0)</option>
</select>
</form>
                <div class="container">
                    <div class="mega-category-list-wrapper">  <li class="cat-item cat-item-46"><a href="https://demo.astoundify.com/listify/listing-category/arts-entertainment/" title="View all listings filed under Arts &amp; Entertainment"><span class="category-count">2</span>Arts &amp; Entertainment</a>
</li>
  <li class="cat-item cat-item-23"><a href="https://demo.astoundify.com/listify/listing-category/automotive/" title="View all listings filed under Automotive"><span class="category-count">0</span>Automotive</a>
</li>
  <li class="cat-item cat-item-50"><a href="https://demo.astoundify.com/listify/listing-category/bars/" title="View all listings filed under Bars"><span class="category-count">3</span>Bars</a>
</li>
  <li class="cat-item cat-item-49"><a href="https://demo.astoundify.com/listify/listing-category/beauty-spas/" title="View all listings filed under Beauty &amp; Spas"><span class="category-count">3</span>Beauty &amp; Spas</a>
</li>
  <li class="cat-item cat-item-41"><a href="https://demo.astoundify.com/listify/listing-category/financial-services/" title="View all listings filed under Financial Services"><span class="category-count">0</span>Financial Services</a>
</li>
  <li class="cat-item cat-item-28"><a href="https://demo.astoundify.com/listify/listing-category/food/" title="View all listings filed under Food"><span class="category-count">13</span>Food</a>
</li>
  <li class="cat-item cat-item-47"><a href="https://demo.astoundify.com/listify/listing-category/health-medical/" title="View all listings filed under Health &amp; Medical"><span class="category-count">0</span>Health &amp; Medical</a>
</li>
  <li class="cat-item cat-item-48"><a href="https://demo.astoundify.com/listify/listing-category/home-services/" title="View all listings filed under Home Services"><span class="category-count">9</span>Home Services</a>
</li>
  <li class="cat-item cat-item-45"><a href="https://demo.astoundify.com/listify/listing-category/hotels-travel/" title="View all listings filed under Hotels &amp; Travel"><span class="category-count">3</span>Hotels &amp; Travel</a>
</li>
  <li class="cat-item cat-item-22"><a href="https://demo.astoundify.com/listify/listing-category/nightlife/" title="View all listings filed under Nightlife"><span class="category-count">0</span>Nightlife</a>
</li>
  <li class="cat-item cat-item-43"><a href="https://demo.astoundify.com/listify/listing-category/pets/" title="View all listings filed under Pets"><span class="category-count">4</span>Pets</a>
</li>
  <li class="cat-item cat-item-44"><a href="https://demo.astoundify.com/listify/listing-category/public-services-government/" title="View all listings filed under Public Services &amp; Government"><span class="category-count">0</span>Public Services &amp; Government</a>
</li>
  <li class="cat-item cat-item-42"><a href="https://demo.astoundify.com/listify/listing-category/real-estate/" title="View all listings filed under Real Estate"><span class="category-count">0</span>Real Estate</a>
</li>
  <li class="cat-item cat-item-21"><a href="https://demo.astoundify.com/listify/listing-category/restaurants/" title="View all listings filed under Restaurants"><span class="category-count">11</span>Restaurants</a>
</li>
  <li class="cat-item cat-item-27"><a href="https://demo.astoundify.com/listify/listing-category/shopping/" title="View all listings filed under Shopping"><span class="category-count">0</span>Shopping</a>
</li>
</div>
                    <!--<a href="https://demo.astoundify.com/listify/listings/">View All</a>-->
                </div>
            </ul></li><li id="menu-item-34" class="ion-compose menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="https://demo.astoundify.com/listify/submit-listing/">Submit Listing</a></li>
<li id="menu-item-63" class="ion-help-buoy menu-item menu-item-type-post_type menu-item-object-page menu-item-63"><a href="https://demo.astoundify.com/listify/how-it-works/">How It Works</a></li>
</ul></div>       </div>

                  <a href="#search-navigation" data-toggle="#search-navigation" class="ion-search search-overlay-toggle"></a>

          <div id="search-navigation" class="search-overlay">

<form role="search" method="get" class="search-form" action="https://demo.astoundify.com/listify/listings/">
  <label>
    <span class="screen-reader-text">Search for:</span>
    <input type="search" class="search-field" placeholder="Search" value="" name="search_keywords" title="Search for:" />
  </label>
  <button type="submit" class="search-submit"></button>
</form>
            <a href="#search-navigation" data-toggle="#search-navigation" class="ion-close search-overlay-toggle"></a>
          </div>
              </div>
    </nav><!-- #site-navigation -->
  </header><!-- #masthead -->


  <div id="content" class="site-content">





      <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/main-bg-top_mini-1.jpg);" class="homepage-cover page-cover entry-cover has-image">
        <div class="cover-wrapper container">
          <div class="listify_widget_search_listings"><div class="home-widget-section-title"><h1 class="home-widget-title">Search Your City<h2 class="home-widget-description">

Listify helps you find out whats happening in your city, Let&#039;s explore.</h2></h1></div>
        <a href="#" data-toggle=".job_filters" class="js-toggle-area-trigger">Toggle Filters</a>

<form class="job_search_form" action="https://demo.astoundify.com/listify/listings/" method="GET">

  <div class="search_jobs">

    <div class="search_keywords">
      <label for="search_keywords">Keywords</label>
            <input type="text" name="search_keywords" id="search_keywords" placeholder="Keywords" />
    </div>

    <div class="search_location">
      <label for="search_location">Location</label>
      <input type="text" name="search_location" id="search_location" placeholder="Location" />
    </div>


        <div class="search_categories">
            <label for="search_categories">Category</label>
            <select name='search_categories[]' id='search_categories' class='job-manager-category-dropdown '  data-placeholder='Choose a category&hellip;' data-no_results_text='No results match' data-multiple_text='Select Some Options'>
<option value="">Any category</option>  <option class="level-0" value="46">Arts &amp; Entertainment</option>
  <option class="level-1" value="156">&nbsp;&nbsp;&nbsp;Nightclub</option>
  <option class="level-0" value="50">Bars</option>
  <option class="level-1" value="75">&nbsp;&nbsp;&nbsp;Breweries</option>
  <option class="level-0" value="49">Beauty &amp; Spas</option>
  <option class="level-1" value="174">&nbsp;&nbsp;&nbsp;Barbershop</option>
  <option class="level-0" value="28">Food</option>
  <option class="level-1" value="29">&nbsp;&nbsp;&nbsp;Coffee &amp; Tea</option>
  <option class="level-1" value="72">&nbsp;&nbsp;&nbsp;Doughnuts</option>
  <option class="level-0" value="48">Home Services</option>
  <option class="level-0" value="45">Hotels &amp; Travel</option>
  <option class="level-0" value="43">Pets</option>
  <option class="level-0" value="21">Restaurants</option>
  <option class="level-1" value="163">&nbsp;&nbsp;&nbsp;Cafes</option>
  <option class="level-1" value="165">&nbsp;&nbsp;&nbsp;Chinese</option>
  <option class="level-1" value="79">&nbsp;&nbsp;&nbsp;Pizza</option>
</select>
        </div>


        <div class="search-radius-wrapper in-use">
      <div class="search-radius-label">
        <label for="use_search_radius">
          <input type="checkbox" name="use_search_radius" id="use_search_radius"  checked='checked'/>
          Radius: <span class="radi">300</span> mi        </label>
      </div>
      <div class="search-radius-slider">
        <div id="search-radius"></div>
      </div>

      <input type="hidden" id="search_radius" name="search_radius" value="300" />
    </div>

    <input type="hidden" id="search_lat" name="search_lat" value="0" />
      <input type="hidden" id="search_lng" name="search_lng" value="0" />
  <div class="filter_wide filter_by_tag">Filter by tag: <span class="filter_by_tag_cloud"></span></div><input type="hidden" name="search_region" class="search_region" value="" />  </div>

  <p class="filter-by-type-label">Filter by type:</p><input type="hidden" id="search_context" name="search_context" value="6" />  <ul class="job_types">
      </ul>
  <input type="hidden" name="filter_job_type[]" value="" />
<button type="submit" data-refresh="Loading..." data-label="Search Listings" name="update_results" class="update_results">Search Listings</button><div class="showing_jobs"></div></form>

        <div class="archive-job_listing-filter-title">
            <div class="archive-job_listing-layout-wrapper">

                <a href="#" data-style="grid" class="archive-job_listing-layout button active"><span class="ion-grid"></span></a>
                <a href="#" data-style="list" class="archive-job_listing-layout button"><span class="ion-navicon-round"></span></a>

                            </div>

            <h3 class="archive-job_listing-found">
                <span class="results-found">0</span> Results Found            </h3>
        </div>

<noscript>Your browser does not support JavaScript, or it is disabled. JavaScript must be enabled in order to view listings.</noscript>
</div>        </div>

        <div style="width: 750px; " class="wp-video"><video class="wp-video-shortcode" id="video-6-1" width="750" height="422" loop="1" autoplay="1" preload="auto" controls="controls"><source type="" src="https://player.vimeo.com/external/118518515.hd.mp4?s=e0741e40d2d8b5f1f1d12a2bcb0cedce&#038;_=1" /><source type="video/webm" src="https://f6ca679df901af69ace6-d3d26a34307edc4f7eeb40d85a64c4a7.ssl.cf5.rackcdn.com/listify-loops-new.webm?_=1" /></video></div>
<p>Listify helps you find out whats happening in your city, Let&#8217;s explore.</p>
      </div>




    <div class="container homepage-hero-style-video">


      <aside id="listify_widget_taxonomy_image_grid-3" class="home-widget listify_widget_taxonomy_image_grid"><div class="home-widget-section-title"><h2 class="home-widget-title">Explore Your Community<h2 class="home-widget-description">See whats happening in your community, or find new citys to explore.</h2></h2></div>
        <div class="row">


            <section id="image-grid-term-ohio" class="col-xs-12 col-sm-6 col-md-8 image-grid-item">
                <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/6108942040_831d9b466f_b.jpg);" class="col-xs-12 col-sm-6 col-md- image-grid-cover entry-cover has-image">
                    <a href="https://demo.astoundify.com/listify/listing-region/ohio/" class="image-grid-clickbox"></a>
                    <a href="https://demo.astoundify.com/listify/listing-region/ohio/" class="cover-wrapper">Ohio</a>
                </div>
            </section>


            <section id="image-grid-term-toronto" class="col-xs-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/dtc-flickr2.jpg);" class="col-xs-12 col-sm-6 col-md- image-grid-cover entry-cover has-image">
                    <a href="https://demo.astoundify.com/listify/listing-region/toronto/" class="image-grid-clickbox"></a>
                    <a href="https://demo.astoundify.com/listify/listing-region/toronto/" class="cover-wrapper">Toronto, ON</a>
                </div>
            </section>


            <section id="image-grid-term-missouri" class="col-xs-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job-manager-uploads/0/2015/12/images.jpg);" class="col-xs-12 col-sm-6 col-md- image-grid-cover entry-cover has-image">
                    <a href="https://demo.astoundify.com/listify/listing-region/missouri/" class="image-grid-clickbox"></a>
                    <a href="https://demo.astoundify.com/listify/listing-region/missouri/" class="cover-wrapper">Missouri</a>
                </div>
            </section>


            <section id="image-grid-term-new-york-city" class="col-xs-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job-manager-uploads/0/2015/12/Mob-2.jpg);" class="col-xs-12 col-sm-6 col-md- image-grid-cover entry-cover has-image">
                    <a href="https://demo.astoundify.com/listify/listing-region/new-york-city/" class="image-grid-clickbox"></a>
                    <a href="https://demo.astoundify.com/listify/listing-region/new-york-city/" class="cover-wrapper">New York City, NY</a>
                </div>
            </section>


            <section id="image-grid-term-san-francisco" class="col-xs-12 col-sm-6 col-md-4 image-grid-item">
                <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/fbc-flickr-1024x768.jpg);" class="col-xs-12 col-sm-6 col-md- image-grid-cover entry-cover has-image">
                    <a href="https://demo.astoundify.com/listify/listing-region/san-francisco/" class="image-grid-clickbox"></a>
                    <a href="https://demo.astoundify.com/listify/listing-region/san-francisco/" class="cover-wrapper">San Francisco, CA</a>
                </div>
            </section>


        </div>

        </aside><aside id="listify_widget_recent_listings-3" class="home-widget listify_widget_recent_listings"><div class="home-widget-section-title"><h2 class="home-widget-title">Recent Listings<h2 class="home-widget-description">Discover some of our best listings</h2></h2></div>
        <ul class="job_listings">


<li id="job_listing-685" class="job_listing post-685 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-toronto job_listing_category-barbershop job_listing_tag-accepts-credit-cards job_listing_tag-good-for-kids job_listing_tag-wheelchair-accessible job_listing_tag-wifi claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="685" data-link="https://demo.astoundify.com/listify/listing/555-liberty-village-toronto-ontario-canada-astoundify-barbershop/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/Stocksy_txp782c31421CE000_Medium_85879-150x150.jpg" data-title="Astoundify Barbershop" data-address="555 Liberty Village, Toronto, Ontario, Canada" data-longitude="-79.42553470000001" data-latitude="43.6380835" data-color="#627e82" data-icon="ion-scissors" data-term="174" data-featured="" data-rating="4 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/555-liberty-village-toronto-ontario-canada-astoundify-barbershop/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/Stocksy_txp782c31421CE000_Medium_85879-1024x682.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/Stocksy_txp782c31421CE000_Medium_85879-1024x682.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            Astoundify Barbershop        </h1>
    <a href="#what-is-claimed" class="claimed-ribbon popup-trigger">
  <span class="ion-checkmark-circled"></span>
  <span class="tooltip">Verified Listing</span>
</a>

<div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=43.6380835%2C-79.42553470000001" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">67 <span itemprop="streetAddress">Mowat Avenue</span><br/><span itemprop="addressLocality">Toronto</span> <span itemprop="addressRegion">Ontario</span> <span itemprop="postalCode">M6K 3E3</span><br/><span itemprop="addressCountry">Canada</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:9055555555">(905) 555-5555</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-4 job_listing-rating-wrapper" title="4 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">4.8</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">4</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->



<li id="job_listing-270" class="job_listing post-270 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-chandler-arizona job_listing_category-bars job_listing_category-breweries job_listing_category-restaurants job_listing_tag-accepts-credit-cards job_listing_tag-alcohol job_listing_tag-caters job_listing_tag-good-for-groups job_listing_tag-has-tv job_listing_tag-outdoor-seating job_listing_tag-parking job_listing_tag-take-out job_listing_tag-takes-reservations job_listing_tag-waiter-service job_listing_tag-wheelchair-accessible job_listing_tag-wifi not-claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="270" data-link="https://demo.astoundify.com/listify/listing/8-s-san-marcos-pl-chandler-az-85225-united-states/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/Stocksy_txpf3080aa3KME000_Medium_434948-150x150.jpg" data-title="SanTan Brewing" data-address="8 S San Marcos Pl Chandler, AZ 85225 United States" data-longitude="-111.842532" data-latitude="33.303233" data-color="#eb974e" data-icon="ion-beer" data-term="50" data-featured="" data-rating="4 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/8-s-san-marcos-pl-chandler-az-85225-united-states/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/Stocksy_txpf3080aa3KME000_Medium_434948-1024x683.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/Stocksy_txpf3080aa3KME000_Medium_434948-1024x683.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            SanTan Brewing        </h1>
    <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=33.303233%2C-111.842532" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">8 South San Marcos Place</span><br/><span itemprop="addressLocality">Chandler</span>, AZ <span itemprop="postalCode">85225</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:4809178700">(480) 917-8700</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-4 job_listing-rating-wrapper" title="4 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">4.3</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">4</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->



<li id="job_listing-264" class="job_listing post-264 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-toronto job_listing_category-food job_listing_category-restaurants job_listing_tag-accepts-credit-cards job_listing_tag-delivery job_listing_tag-outdoor-seating job_listing_tag-parking job_listing_tag-take-out job_listing_tag-takes-reservations job_listing_tag-waiter-service job_listing_tag-wheelchair-accessible job_listing_tag-wifi not-claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="264" data-link="https://demo.astoundify.com/listify/listing/240-leighland-avenue-oakville-on-canada-oliver-bonacini-cafe-grill/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/oliver-and-bonacini-one-150x150.jpg" data-title="Oliver &amp; Bonacini Café Grill" data-address="240 Leighland Avenue Oakville, ON, Canada" data-longitude="-79.68714039999998" data-latitude="43.4617715" data-color="#95cb70" data-icon="ion-pizza" data-term="28" data-featured="" data-rating="4 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/240-leighland-avenue-oakville-on-canada-oliver-bonacini-cafe-grill/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/oliver-and-bonacini-one.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/oliver-and-bonacini-one.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            Oliver &amp; Bonacini Café Grill        </h1>
    <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=43.4617715%2C-79.68714039999998" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">240 Leighland Avenue</span><br/><span itemprop="addressLocality">Oakville</span> <span itemprop="addressRegion">Ontario</span> <span itemprop="postalCode">L6H 3H6</span><br/><span itemprop="addressCountry">Canada</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:2892910265">(289) 291-0265</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-4 job_listing-rating-wrapper" title="4 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">4.8</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">4</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->



<li id="job_listing-452" class="job_listing post-452 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-ohio job_listing_category-food job_listing_category-restaurants job_listing_tag-accepts-credit-cards job_listing_tag-alcohol job_listing_tag-delivery job_listing_tag-good-for-groups job_listing_tag-good-for-kids job_listing_tag-has-tv job_listing_tag-outdoor-seating job_listing_tag-parking job_listing_tag-take-out job_listing_tag-takes-reservations job_listing_tag-waiter-service job_listing_tag-wheelchair-accessible not-claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="452" data-link="https://demo.astoundify.com/listify/listing/234-euclid-ave-euclid-ave-cleveland-oh-44114-united-states-noodlecat/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/6108942040_831d9b466f_b-150x150.jpg" data-title="Noodlecat" data-address="234 Euclid Ave, Cleveland, OH 44114, United States" data-longitude="-81.6913909" data-latitude="41.4993921" data-color="#95cb70" data-icon="ion-pizza" data-term="28" data-featured="" data-rating="5 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/234-euclid-ave-euclid-ave-cleveland-oh-44114-united-states-noodlecat/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/6108942040_831d9b466f_b.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/6108942040_831d9b466f_b.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            Noodlecat        </h1>
    <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=41.4993921%2C-81.6913909" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">234 Euclid Avenue</span><br/><span itemprop="addressLocality">Cleveland</span>, OH <span itemprop="postalCode">44114</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:2165890007">(216) 589-0007</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-5 job_listing-rating-wrapper" title="2 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">5.0</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">2</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->



<li id="job_listing-660" class="job_listing post-660 type-job_listing status-publish has-post-thumbnail hentry job_listing_category-bars job_listing_tag-good-for-kids job_listing_tag-parking job_listing_tag-take-out job_listing_tag-takes-reservations not-claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="660" data-link="https://demo.astoundify.com/listify/listing/redmonds-bar-and-grill/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/EOZpjI3oSqKPNnF2S4Tp_Untitled-150x150.jpg" data-title="Redmond’s Bar and Grill" data-address="7979 Leary Way NE Redmond, WA 98052 United States" data-longitude="-122.12291800000003" data-latitude="47.674509" data-color="#eb974e" data-icon="ion-beer" data-term="50" data-featured="" data-rating="4 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/redmonds-bar-and-grill/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/EOZpjI3oSqKPNnF2S4Tp_Untitled-1024x682.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/EOZpjI3oSqKPNnF2S4Tp_Untitled-1024x682.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            Redmond’s Bar and Grill        </h1>
    <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=47.674509%2C-122.12291800000003" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">7979 Leary Way Northeast</span><br/><span itemprop="addressLocality">Redmond</span>, WA <span itemprop="postalCode">98052</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:4255589800">(425) 558-9800</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-4 job_listing-rating-wrapper" title="4 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">4.5</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">4</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->



<li id="job_listing-233" class="job_listing job_position_featured post-233 type-job_listing status-publish has-post-thumbnail hentry job_listing_region-toronto job_listing_category-doughnuts job_listing_category-food job_listing_tag-accepts-credit-cards job_listing_tag-caters job_listing_tag-delivery job_listing_tag-parking not-claimed col-xs-12 col-sm-6 col-md-4 style-grid" data-grid-columns="col-xs-12 col-sm-6 col-md-4" data-id="233" data-link="https://demo.astoundify.com/listify/listing/1596-queen-street-w-toronto-on-m6r-glory-hole-doughnuts/" data-thumb="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/8684005585_ee87d84a32_k-150x150.jpg" data-title="Glory Hole Doughnuts" data-address="1596 Queen Street W Toronto, ON M6R" data-longitude="-79.4415219" data-latitude="43.6397507" data-color="#6bd4e0" data-icon="ion-fork" data-term="72" data-featured="featured" data-rating="4 Stars">

  <div class="content-box">

    <a href="https://demo.astoundify.com/listify/listing/1596-queen-street-w-toronto-on-m6r-glory-hole-doughnuts/" class="job_listing-clickbox"></a>

    <header style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/8684005585_ee87d84a32_k-1024x682.jpg);" class="job_listing-entry-header listing-cover has-image">

      <div class="job_listing-entry-header-wrapper cover-wrapper">

        <div class="job_listing-entry-thumbnail">
          <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/job_listings/2014/11/8684005585_ee87d84a32_k-1024x682.jpg);" class="list-cover has-image"></div>
        </div>
        <div class="job_listing-entry-meta">
                  <h1 itemprop="name" class="job_listing-title">
            Glory Hole Doughnuts        </h1>
    <div class="job_listing-location job_listing-location-formatted"><a class="google_map_link" href="http://maps.google.com/maps?saddr=Current+Location&#038;daddr=43.6397507%2C-79.4415219" target="_blank"><span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">1596 Queen Street West</span><br/><span itemprop="addressLocality">Toronto</span> <span itemprop="addressRegion">Ontario</span> <span itemprop="postalCode">M6R 1A8</span><br/><span itemprop="addressCountry">Canada</span></span></a></div>        <div class="job_listing-phone">
            <span itemprop="telephone"><a href="tel:6473524848">(647) 352-4848</a></span>
        </div>
            </div>

      </div>

                </header><!-- .entry-header -->

    <footer class="job_listing-entry-footer">

          <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating-4 job_listing-rating-wrapper" title="4 Reviews">
      <span class="job_listing-rating-stars">

    <span class='stars-rating'>

                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>


                  <span class="dashicons dashicons-star-filled"></span>

          </span>     </span>

      <span class="job_listing-rating-average">
        <span itemprop="ratingValue">4.8</span>
      </span>
      <span class="job_listing-rating-count">
        <span itemprop="reviewCount">4</span> Reviews     </span>
    </div>
  <div class="job-manager-form wp-job-manager-bookmarks-form">
  <div><a class="bookmark-notice" href="https://demo.astoundify.com/listify/my-account/">Login to bookmark this Listing</a></div>
</div>
    </footer><!-- .entry-footer -->

  </div>
</li><!-- #post-## -->

                    </ul>

        </aside>
    </div>

      <aside id="listify_widget_feature_callout-4" class="home-widget listify_widget_feature_callout">
      <div class="feature-callout text-left image-pull" style="background-color: #ffffff;">

                  <div class="container">
            <div class="col-xs-12 col-sm-6 ">
              <div class="callout-feature-content" style="color:#717a8f">
<h2 class="callout-feature-title" style="color:#717a8f">Get The Exposure You Deserve</h2>
<p>Your business deserves efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
<p><a href="https://demo.astoundify.com/listify/how-it-works/" class="button">How It Works</a></p>
</div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-sm-offset-6 feature-callout-image-pull" style="background-image:url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/get-exposure-for-your-biz.jpg); ?>; background-position: center top"></div>

      </div>

      </aside>
    <div class="container">

    <aside id="listify_widget_panel_wcpl_pricing_table-4" class="home-widget listify_widget_panel_wcpl_pricing_table"><div class="home-widget-section-title"><h2 class="home-widget-title">Find a plan that’s right for you.<h2 class="home-widget-description">Every plan comes with a 30-day free trial, Woot!</h2></h2></div>
    <ul class="job-packages inline">



      <li class="job-package">

        <div class="job-package-header">
          <div class="job-package-title">
            Platinum Package          </div>
          <div class="job-package-price">
            <span class="amount">&#36;45</span> <span class="subscription-details"> / month</span>          </div>
        </div>

        <div class="job-package-includes">
                    <ul>
            <li>Gold Package Features
</li><li>VIP Service &amp; Support
</li><li>Dedicated Account Manager</li>
          </ul>
        </div>

        <div class="job-package-purchase">
          <a href="https://demo.astoundify.com/listify/submit-listing/?selected_package=26" class="button">Get Started Now</a>
        </div>
      </li>



      <li class="job-package">
                  <span class="job-package-tag"><a href="https://demo.astoundify.com/listify/product-tag/most-popular/" rel="tag">Most Popular</a></span>

        <div class="job-package-header">
          <div class="job-package-title">
            Gold Package          </div>
          <div class="job-package-price">
            <span class="amount">&#36;19</span> <span class="subscription-details"> / month</span>          </div>
        </div>

        <div class="job-package-includes">
                    <ul>
            <li>See Statistics
</li><li>Receive Reviews
</li><li>Featured Listing
</li><li>Take Bookings Online
</li><li>Add Up To 20 Listings
</li><li>Post Deals &amp; Promotions
</li><li>24/7 Service &amp; Support
</li><li>Display Map &amp; Street View
</li><li>Post Video &amp; Image Gallery
</li><li>Display Hours Of Business
</li><li>Display Business Amenities
</li><li>Display Website &amp; Phone Number</li>
          </ul>
        </div>

        <div class="job-package-purchase">
          <a href="https://demo.astoundify.com/listify/submit-listing/?selected_package=27" class="button">Get Started Now</a>
        </div>
      </li>



      <li class="job-package">

        <div class="job-package-header">
          <div class="job-package-title">
            Bronze Package          </div>
          <div class="job-package-price">
            <span class="amount">&#36;8</span> <span class="subscription-details"> / month</span>         </div>
        </div>

        <div class="job-package-includes">
                    <ul>
            <li>Accept Reviews
</li><li>Edit Your Listing
</li><li>Take Bookings Online
</li><li>Post Deals &amp; Promotions</li>
          </ul>
        </div>

        <div class="job-package-purchase">
          <a href="https://demo.astoundify.com/listify/submit-listing/?selected_package=28" class="button">Get Started Now</a>
        </div>
      </li>


    </ul>

    </aside>
    </div>

      <aside id="listify_widget_feature_callout-3" class="home-widget listify_widget_feature_callout">
      <div class="feature-callout text-left image-cover" style="background-color: #ffffff;">


          <div class="feature-callout-cover no-overlay" style="background-image:url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/iphone-home-page.jpg); ?>; background-position: center center">

            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 ">
                  <div class="callout-feature-content" style="color:#ffffff">
<h2 class="callout-feature-title" style="color:#ffffff">Want to learn more?</h2>
<p><a href="http://demo.astoundify.com/listify/how-it-works/" class="button">How It Works</a></p>
</div>
                </div>
              </div>
            </div>

          </div>


      </div>

      </aside>
    <div class="container">


    </div>



  </div><!-- #content -->

  <div class="footer-wrapper">




<div class="as-seen-on">
  <div class="container">

    <h1 class="aso-title">As Seen On</h1>

    <div class="aso-content">
      <embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/WordPress.svg" type="image/svg+xml" /><embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/jquery.svg" type="image/svg+xml" />
<embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/envato.svg" type="image/svg+xml" />
<embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/node.svg" type="image/svg+xml" />   </div>

  </div>
</div>


        <footer class="site-footer-widgets">
          <div class="container">
            <div class="row">

              <div class="footer-widget-column col-xs-12 col-sm-12 col-lg-5">
                <aside id="text-2" class="footer-widget widget_text">     <div class="textwidget"><embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/copy-listify-footer-logo.svg" type="image/svg+xml" />
<p>
At Listify our purpose is to help people find great local businesses like dentists, hair stylists and mechanics. Go Explore!
<p>
Proudly Made in Canada & USA</div>
    </aside>              </div>

              <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3 col-lg-offset-1">
                <aside id="nav_menu-2" class="footer-widget widget_nav_menu"><h4 class="footer-widget-title">About Listify</h4><div class="menu-need-help-menu-footer-container"><ul id="menu-need-help-menu-footer" class="menu"><li id="menu-item-248" class="ion-help-buoy menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="#">Help Center</a></li>
<li id="menu-item-249" class="ion-clipboard menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="https://demo.astoundify.com/listify/terms-of-service/">Terms of Use</a></li>
<li id="menu-item-250" class="ion-help-circled menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a href="https://demo.astoundify.com/listify/about-listify/">About Listify</a></li>
<li id="menu-item-251" class="ion-ios-chatbubble menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a href="https://demo.astoundify.com/listify/blog/">Listify Blog</a></li>
<li id="menu-item-252" class="ion-person menu-item menu-item-type-custom menu-item-object-custom menu-item-252"><a href="#">Careers</a></li>
</ul></div></aside>             </div>

              <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3">
                <aside id="nav_menu-3" class="footer-widget widget_nav_menu"><h4 class="footer-widget-title">Stay Connected</h4><div class="menu-social-widget-menu-container"><ul id="menu-social-widget-menu" class="menu"><li id="menu-item-325" class="ion-social-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-325"><a href="http://twitter.com/astoundify">Twitter</a></li>
<li id="menu-item-326" class="ion-social-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-326"><a href="http://facebook.com/astoundify">Facebook</a></li>
<li id="menu-item-327" class="ion-social-googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://google.com">Google+</a></li>
<li id="menu-item-328" class="ion-social-instagram-outline menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="http://instagram.com">Instagram</a></li>
<li id="menu-item-329" class="ion-social-vimeo menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="http://vimeo.com/astoundify">Vimeo</a></li>
</ul></div></aside>             </div>

            </div>
          </div>
        </footer>



    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="container">

        <div class="site-info">
          Copyright Astoundify © 2015. All Rights Reserved        </div><!-- .site-info -->

        <div class="site-social">
          <div class="menu-social-container"><ul id="menu-social" class="nav-menu-social"><li id="menu-item-240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a href="http://facebook.com/astoundify">facebook</a></li>
<li id="menu-item-241" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241"><a href="http://twitter.com/astoundify">twitter</a></li>
<li id="menu-item-242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-242"><a href="https://plus.google.com/">google</a></li>
<li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="http://instagram.com/">instagram</a></li>
<li id="menu-item-246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"><a href="https://vimeo.com/astoundify">vimeo</a></li>
<li id="menu-item-8176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8176"><a href="http://tumblr.com">tumblr</a></li>
</ul></div>       </div>

      </div>
    </footer><!-- #colophon -->

  </div>

</div><!-- #page -->

<div id="ajax-response"></div>

<script type='text/javascript'>
      document.addEventListener('DOMContentLoaded', function(event) {
        if ( typeof Receiptful !== 'undefined' ) {
          Receiptful.init({
            user: 'cfac5e127d79bf630be06c1f54d591b9',
            product: '28',
            cart: '',
            customer: '',
            recommend: 0          });
        }
      });
    </script><script id="tmpl-pinTemplate" type="text/template">
  <div class="map-marker type-{{{ data.term }}} {{{ data.featured }}}"><i class="{{{ data.icon }}}"></i></div>
</script>
<script id="tmpl-infoBubbleTemplate" type="text/template">
  <a href="{{{ data.link }}}">
    <# if ( typeof( data.thumb ) != 'undefined') { #>
    <span style="background-image: url({{{ data.thumb }}})" class="list-cover has-image"></span>
    <# } #>

    <# if ( typeof( data.title ) != 'undefined') { #>
    <h1>{{{ data.title }}}</h1>
    <# } #>

    <# if ( typeof( data.rating ) != 'undefined') { #>
    <span class="rating stars-{{{ data.rating }}}">
      {{{ data.rating }}}
    </span>
    <# } #>

    <# if ( typeof( data.address ) != 'undefined') { #>
    <span class="address">{{{ data.address }}}</span>
    <# } #>
  </a>
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/underscore.min.js?ver=1.6.0'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/backbone.min.js?ver=1.1.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpUtilSettings = {"ajax":{"url":"\/listify\/wp-admin\/admin-ajax.php"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/wp-util.min.js?ver=4.3.1'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-includes/js/wp-backbone.min.js?ver=4.3.1'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager/assets/js/jquery-deserialize/jquery.deserialize.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var job_manager_chosen_multiselect_args = {"search_contains":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/chosen/chosen.jquery.min.js?ver=1.0.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var job_manager_ajax_filters = {"ajax_url":"\/listify\/jm-ajax\/%%endpoint%%\/","is_rtl":"0","lang":"","i18n_load_prev_listings":"Load previous listings"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager/assets/js/ajax-filters.min.js?ver=1.23.13'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wpjmel = {"start_point":"Toronto, ON, Canada","start_geo_lat":"43.653226","start_geo_long":"-79.38318429999998","enable_map":"1","map_elements":"#job_location, #setting-wpjmel_map_start_location","user_location":[],"file_path":"https:\/\/demo.astoundify.com\/listify\/wp-content\/plugins\/wp-job-manager-extended-location\/.\/assets","l10n":{"locked":"Lock Pin Location","unlocked":"Unlock Pin Location"},"list_geo_lat":"","list_geo_long":""};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-extended-location/assets/js/wp-job-manager-extended-location.js?ver=2.1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var listifySettings = {"ajaxurl":"https:\/\/demo.astoundify.com\/listify\/wp-admin\/admin-ajax.php","homeurl":"https:\/\/demo.astoundify.com\/listify\/","archiveurl":"https:\/\/demo.astoundify.com\/listify\/listings\/","is_job_manager_archive":"","megamenu":{"taxonomy":"job_listing_category"},"l10n":{"closed":"Closed","timeFormat":"g:i a"}};
var listifyListingGallery = {"canUpload":"","gallery_title":"Add Images to Gallery","gallery_button":"Add to gallery","delete_image":"Delete image","default_title":"Upload","default_button":"Select this"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/themes/listify/js/app.min.js?ver=20141204'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var listifyMapSettings = {"displayMap":"1","facetwp":"","useClusters":"1","autoFit":"1","trigger":"click","mapOptions":{"zoom":"10","maxZoom":17,"maxZoomOut":3,"gridSize":"40","scrollwheel":true,"center":["43.761539","-79.411079"],"styles":[{"featureType":"poi","stylers":[{"visibility":"off"}]},{"featureType":"administrative.land_parcel","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"landscape.man_made","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"},{"lightness":20}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#f49935"}]},{"featureType":"road.highway","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#fad959"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"visibility":"simplified"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#a1cdfc"},{"saturation":30},{"lightness":49}]}]},"searchRadius":{"min":"100","max":"1000","default":"300"},"autoComplete":{"componentRestrictions":{"country":"us"}}};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/themes/listify/inc/integrations/wp-job-manager/js/map/app.min.js?ver=20150213'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"https:\/\/demo.astoundify.com\/listify\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/listify\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/listify\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"https:\/\/demo.astoundify.com\/listify\/cart\/","is_cart":"","cart_redirect_after_add":"yes"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/listify\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/listify\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/listify\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/listify\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//demo.astoundify.com/listify/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/themes/listify/js/vendor/salvattore.min.js?ver=4.3.1'></script>
<script type='text/javascript' src='https://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201553'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/themes/listify/inc/integrations/wp-job-manager-bookmarks/js/wp-job-manager-bookmarks.min.js?ver=1.1.7'></script>
<script type='text/javascript' src='https://demo.astoundify.com/listify/wp-content/plugins/wp-job-manager-tags/assets/js/tag-filter.js?ver=1.0'></script>

</body>
</html>
