<section class="content-wrap user-profile" ng-controller="UserProfileCtrl">
  <div class="hidden" id="avatar"><%=@user.avatar%></div>
  <div class="hidden" id="user-id"><%=@user.id%></div>
  <div class="card-panel">
    <table class="profile-info">
      <tbody>
        <tr>
          <td class="photo">
            <%= image_tag "#{@user.avatar}", class: 'profile-img' %>
          </td>
          <td>
            <h3><%= @user.username %></h3>
            <span>
               Member since <%= @user.created_at.strftime("%D") %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col l4 m6 s12">
      <a href="#" class="card-panel stats-card red lighten-2 red-text text-lighten-5" draggable="false">
        <i class="fa fa-comments-o"></i>
        <span class="count"><%= @user.reports.count %></span>
        <div class="name">Reviews</div>
      </a>
    </div>
    <div class="col l4 m6 s12">
      <a href="#" class="card-panel stats-card blue lighten-2 blue-text text-lighten-5" draggable="false">
        <i class="fa fa-thumbs-up"></i>
        <span class="count">
          <% if @user.upvotes_received > 0 %>
            <%= @user.upvotes_received %>
          <% else %>
            0
          <% end %>
        </span>
        <div class="name">Upvotes</div>
      </a>
    </div>
    <div class="col l4 m6 s12">
      <a href="#" class="card-panel stats-card amber lighten-2 amber-text text-lighten-5">
        <i class="fa fa-thumbs-down"></i> <span class="count">
          <% if @user.upvotes_received < 0 %>
            <%= @user.upvotes_received.abs %>
          <% else %>
            0
          <% end %>
        </span>
        <div class="name">Downvotes</div>
      </a>
    </div>
  </div>
  <div class="row review-votes">
    <user-reviews></user-reviews>
  </div>
</section>
