<section class="content-wrap" ng-controller="UsersCtrl">
  <div class="hidden" id="avatar"><%=@user.avatar%></div>
  <div class="hidden" id="user-id"><%=@user.id%></div>
  <!-- Breadcrumb -->
  <div class="page-title">
    <div class="row">
      <div class="col s12 m9 l10">
        <h1>Profile</h1>
        <ul>
          <li><span ng-bind="user.username"></span> </li> |
          <li><span ng-bind="user.email || 'none'"></span></li> |
          <li><span ng-bind-template="Member since {{user.created_at | date:'MM/dd/yyyy'}}"></span></li>
        </ul>
      </div>
      <div class="col s12 m3 l2 right-align"><a href="#!" class="btn grey lighten-3 grey-text z-depth-0 chat-toggle"><i class="fa fa-comments"></i></a></div>
    </div>
  </div>
  <!-- userDashboard-->
  <user-dashboard></user-dashboard>
  <div class="row">
    <div class="col s12 l6">
      <!-- About -->
      <div class="card">
        <div class="title">
          <h5><i class="fa fa-user"></i>Social Accounts</h5>
          <a class="close" href="#"><i class="mdi-content-clear"></i></a> <a class="minimize" href="#"><i class="mdi-navigation-expand-less"></i></a>
        </div>
        <div class="content" style="max-height: 310px; overflow: auto">
          <a class="btn modal-trigger right" href="#social-oauth-modal" ng-show="providers.length < 2">Add Account</a>
          <ul class="collection clear-b">
            <li class="collection-item avatar" ng-repeat="provider in user.providers">
              <i class="fa fa-{{provider.name}} circle {{provider.name}}-background"></i>
              <span class="title" ng-bind="provider.name"></span>
              <div>
                <span ng-bind="provider.username || provider.email"></span> <br>
                <span ng-bind-template="Last Login: {{user.last_sign_in_at | date: 'MM/dd/yyyy'}}"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- /About -->
    </div>
    <user-bookmarks></user-bookmarks>
    <user-reviews></user-reviews>
  </div>
  <%= render "avatar_modal" %>
  <%= render "social_oauth_modal" %>

</section>














<!--
<section class="users-container" ng-controller="UsersCtrl">
  <div class="hidden" id="avatar"><%=@user.avatar%></div>
  <div class="hidden" id="user-id"><%=@user.id%></div>
      <div id="content" class="site-content">
        <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/business-online-marketing-bc981af1f15280d45b29eca12dcab168.jpg);" class="page-cover entry-cover has-image">
          <h1 class="page-title cover-wrapper">My Account</h1>
        </div>
        <nav class="tertiary-navigation" role="navigation">
          <div class="container">
            <a href="#" class="navigation-bar-toggle">
            <i class="ion-navicon-round"></i>
            Tertiary                </a>
            <div class="navigation-bar-wrapper">
              <div class="navigation-bar nav-menu">
                <ul id="menu-tertiary" class="tertiary nav-menu">
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493" ng-class="activeTab == 'dashboard' ? 'active-class' : ''" ng-click="activeTab = 'dashboard'">
                      <i class="fa fa-tachometer"></i> Dashboard
                  </li>
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493" ng-class="activeTab == 'reviews' ? 'active-class' : ''" ng-click="activeTab = 'reviews'">
                      <i class="fa fa-list-alt"></i> Reviews
                  </li>
                  <li id="menu-item-5283" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-5283" ng-class="activeTab == 'bookmarks' ? 'active-class' : ''" ng-click="activeTab = 'bookmarks'">
                    <i class="fa fa-bookmark-o"></i> Bookmarks
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <user-dashboard ng-show="activeTab == 'dashboard'"></user-dashboard>
        <user-reviews ng-show="activeTab == 'reviews'"></user-reviews>
        <user-bookmarks ng-show="activeTab == 'bookmarks'"></user-bookmarks>
        <user-settings ng-show="activeTab == 'settings'"></user-settings>


      </div>
  <%= render "social_oauth_modal" %>
  <%= render "avatar_modal" %>
</section> -->

<%= javascript_include_tag 'home' %>
