
<section class="users-container" ng-controller="UsersCtrl">
  <div class="hidden" id="avatar"><%=@user.avatar%></div>
  <div class="hidden" id="user-id"><%=@user.id%></div>
      <!-- #masthead -->
      <div id="content" class="site-content">
        <div style="background-image: url(https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/10/business-online-marketing-bc981af1f15280d45b29eca12dcab168.jpg);" class="page-cover entry-cover has-image">
          <h1 class="page-title cover-wrapper">My Account</h1>
        </div>
        <nav class="tertiary-navigation" role="navigation">
          <div class="container">
            <a href="#" class="navigation-bar-toggle">
            <i class="ion-navicon-round"></i>
            Tertiary                </a>
            <div class="navigation-bar-wrapper">
              <div class="navigation-bar nav-menu">
                <ul id="menu-tertiary" class="tertiary nav-menu">
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493" ng-class="activeTab == 'dashboard' ? 'active-class' : ''" ng-click="activeTab = 'dashboard'">
                      <i class="fa fa-tachometer"></i> Dashboard
                  </li>
                  <li id="menu-item-14493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-14493" ng-class="activeTab == 'reviews' ? 'active-class' : ''" ng-click="activeTab = 'reviews'">
                      <i class="fa fa-list-alt"></i> Reviews
                  </li>
                  <li id="menu-item-5283" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-5283" ng-class="activeTab == 'bookmarks' ? 'active-class' : ''" ng-click="activeTab = 'bookmarks'">
                    <i class="fa fa-bookmark-o"></i> Bookmarks
                  </li>
<!--                   <li id="menu-item-51" class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-51" ng-class="activeTab == 'settings' ? 'active-class' : ''" ng-click="activeTab = 'settings'">
                    <i class="fa fa-cog"></i> Settings
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <!-- dashboard -->
        <user-dashboard ng-show="activeTab == 'dashboard'"></user-dashboard>
        <user-reviews ng-show="activeTab == 'reviews'"></user-reviews>
        <user-bookmarks ng-show="activeTab == 'bookmarks'"></user-bookmarks>
        <user-settings ng-show="activeTab == 'settings'"></user-settings>

      <!-- #content -->

        <!-- #colophon -->
      </div>
  <%= render "social_oauth_modal" %>
  <%= render "avatar_modal" %>
</section>

<%= javascript_include_tag 'home' %>
