<section id="sign-in">
  <% if alert %>
    <div class="alert alert-border-left" style="margin-top: -80px">
      <%=alert%>
    </div>
  <% end %>
  <canvas id="bubble-canvas" width="1179" height="283" style="position: fixed; top: 0px; left: 0px; z-index: 1;"></canvas>
  <!-- /Background Bubbles -->
  <!-- Sign In Form -->
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row links">
      <div class="col s6 logo">
        <img src="/assets/ggreported_logo.png" alt="">
      </div>
      <div class="col s6 right-align">
        <strong>Sign In</strong> /
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    </div>
    <div class="card-panel clearfix">
      <!-- Social Sign Up -->
      <div class="row socials">
        <div class="col s6">
          <%=link_to user_omniauth_authorize_path(:facebook), class: 'btn blue darken-2 z-depth-0 z-depth-1-hover' do %>
            <i class="fa fa-2x fa-facebook"></i>
          <% end %>
        </div>
        <div class="col s6">
          <%=link_to user_omniauth_authorize_path(:twitter), class: 'btn blue lighten-2 z-depth-0 z-depth-1-hover' do %>
            <i class="fa fa-2x fa-twitter"></i>
          <% end %>
        </div>
      </div>
      <!-- Username -->
      <div class="input-field">
        <i class="fa fa-envelope prefix"></i>
        <label for="input-email">Email Address</label>
        <%= f.email_field :email, class: "validate", id: "input-email" %>
      </div>
      <!-- /Username -->
      <!-- Password -->
      <div class="input-field">
        <i class="fa fa-unlock-alt prefix"></i>
        <label for="password-input">Password</label>
        <%= f.password_field :password, autocomplete: "off", class: 'validate', id: 'password-input' %>
      </div>
      <!-- /Password -->
      <!-- <div class="switch">
        <label>
          <input type="checkbox" checked="checked">
          <span class="lever"></span> Remember
        </label>
      </div> -->
      <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover"><%=f.submit 'Sign In' %></button>
    </div>
    <div class="links right-align">
      <a href="page-forgot-password.html"><%= render "devise/shared/links" %></a>
    </div>
  </form>
  <% end %>
  <!-- /Sign In Form -->
</section>
