
<div class="fixed-centering-container">
  <div class="popup  popup-wide"><h2 class="popup-title">My Account</h2>





  <article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">

    <div class="content-box-inner">

            <div class="entry-content">
          <div class="woocommerce">

      <h2>Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html:{ class: 'login col-md-6'}) do |f| %>
        <p class="form-row form-row-wide">
          <label for="email">Email Address <span class="required">*</span></label>
          <%= f.email_field :email, autofocus: true, class: "input-text" %>
        </p>
        <p class="form-row form-row-wide">
          <label for="password">Password <span class="required">*</span></label>
           <%= f.password_field :password, autocomplete: "off", class: 'input-text' %>
        </p>


        <p class="form-row">
          <%=f.submit 'login', class: 'button'%>

        </p>
        <p class="lost_password">
        <%= render "devise/shared/links" %>
        </p>
      <% end %>


  <div class="wc-social-login form-row-wide col-md-6">

      <p>For fast login or registration use your social account.</p>

      <a href="https://demo.astoundify.com/listify/wc-api/auth/facebook/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-facebook"><span class="si si-facebook"></span>Log in with Facebook</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/twitter/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-twitter"><span class="si si-twitter"></span>Log in with Twitter</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/google/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-google"><span class="si si-google"></span>Log in with Google</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/instagram/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-instagram"><span class="si si-instagram"></span>Log in with Instagram</a>
    </div></div>
        </div>


        </div>
  </article><!-- #post-## -->
    </div>
  </div>

