<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" tabindex="-1" style="top: 678px; position: absolute; height: 378px;"><div class="mfp-container mfp-ajax-holder mfp-s-ready"><div class="mfp-content"><div class="popup  popup-wide"><h2 class="popup-title">My Account</h2>





<article id="post-4479" class="post-4479 page type-page status-publish has-post-thumbnail hentry not-claimed content-box content-box-wrapper">

  <div class="content-box-inner">

          <div class="entry-content">
        <div class="woocommerce">



    <h2>Login</h2>

    <form method="post" class="login">


      <p class="form-row form-row-wide">
        <label for="username">Username or email address <span class="required">*</span></label>
        <input type="text" class="input-text" name="username" id="username" value="">
      </p>
      <p class="form-row form-row-wide">
        <label for="password">Password <span class="required">*</span></label>
        <input class="input-text" type="password" name="password" id="password">
      </p>


      <p class="form-row">
        <input type="hidden" id="_wpnonce" name="_wpnonce" value="1f27b4a0a3"><input type="hidden" name="_wp_http_referer" value="/listify/my-account/">        <input type="submit" class="button" name="login" value="Login">
        <label for="rememberme" class="inline">
          <input name="rememberme" type="checkbox" id="rememberme" value="forever"> Remember me       </label>
      </p>
      <p class="lost_password">
        <a href="https://demo.astoundify.com/listify/my-account/lost-password/">Lost your password?</a>
      </p>






    </form>


<div class="wc-social-login form-row-wide">

    <p>For fast login or registration use your social account.</p>

    <a href="https://demo.astoundify.com/listify/wc-api/auth/facebook/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-facebook"><span class="si si-facebook"></span>Log in with Facebook</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/twitter/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-twitter"><span class="si si-twitter"></span>Log in with Twitter</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/google/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-google"><span class="si si-google"></span>Log in with Google</a> <a href="https://demo.astoundify.com/listify/wc-api/auth/instagram/?return=https%3A%2F%2Fdemo.astoundify.com%2Flistify%2Fmy-account%2F" class="button-social-login button-social-login-instagram"><span class="si si-instagram"></span>Log in with Instagram</a>
  </div></div>
      </div>


      </div>
</article><!-- #post-## --><button title="Close (Esc)" type="button" class="mfp-close">×</button></div></div><div class="mfp-preloader">Loading...</div></div></div>
