<!DOCTYPE html>
<html>
<head>
  <title>YelpLeague</title>
  <%= stylesheet_link_tag    "application", media: 'all' %>
  <%= stylesheet_link_tag    "#{@theme || 'home'}", media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-app="yelpleague" ng-controller="MainCtrl"<% if @theme == 'home' %> class="home page page-id-6 page-template page-template-page-templates page-template-template-home page-template-page-templatestemplate-home-php template-home fixed-header directory-fields color-scheme-default footer- listify listify-120 wp-job-manager wp-job-manager-bookmarks wp-job-manager-wc-paid-listings wp-job-manager-tags wp-job-manager-field-editor wp-job-manager-regions wp-job-manager-reviews wp-job-manager-products wp-job-manager-claim-listing woocommerce-social-login woocommerce woocommerce-bookings jetpack ratings listify-child wp-job-manager-categories-enabled wp-job-manager-categories-only" <% end %> >

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1052968564746401',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <p class="notice hidden" id="notice"><%= notice %></p>
  <!-- <p class="alert hidden" id="alert"><%= alert %></p> -->
  <div id="page" class="hfeed site">
    <%= yield %>
    <footer class="site-footer-widgets">
      <div class="container">
        <div class="row">
          <div class="footer-widget-column col-xs-12 col-sm-12 col-lg-5">
            <aside id="text-2" class="footer-widget widget_text">
              <div class="textwidget">
                <embed src="https://demo.astoundify.com/listify/wp-content/uploads/sites/39/2014/11/copy-listify-footer-logo.svg" type="image/svg+xml" />
                <p>
                  At Listify our purpose is to help people find great local businesses like dentists, hair stylists and mechanics. Go Explore!
                <p>
                  Proudly Made in Canada & USA
              </div>
            </aside>
          </div>
          <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3 col-lg-offset-1">
            <aside id="nav_menu-2" class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">About Listify</h4>
              <div class="menu-need-help-menu-footer-container">
                <ul id="menu-need-help-menu-footer" class="menu">
                  <li id="menu-item-248" class="ion-help-buoy menu-item menu-item-type-custom menu-item-object-custom menu-item-248"><a href="#">Help Center</a></li>
                  <li id="menu-item-249" class="ion-clipboard menu-item menu-item-type-custom menu-item-object-custom menu-item-249"><a href="https://demo.astoundify.com/listify/terms-of-service/">Terms of Use</a></li>
                  <li id="menu-item-250" class="ion-help-circled menu-item menu-item-type-custom menu-item-object-custom menu-item-250"><a href="https://demo.astoundify.com/listify/about-listify/">About Listify</a></li>
                  <li id="menu-item-251" class="ion-ios-chatbubble menu-item menu-item-type-custom menu-item-object-custom menu-item-251"><a href="https://demo.astoundify.com/listify/blog/">Listify Blog</a></li>
                  <li id="menu-item-252" class="ion-person menu-item menu-item-type-custom menu-item-object-custom menu-item-252"><a href="#">Careers</a></li>
                </ul>
              </div>
            </aside>
          </div>
          <div class="footer-widget-column col-xs-12 col-sm-6 col-lg-3">
            <aside id="nav_menu-3" class="footer-widget widget_nav_menu">
              <h4 class="footer-widget-title">Stay Connected</h4>
              <div class="menu-social-widget-menu-container">
                <ul id="menu-social-widget-menu" class="menu">
                  <li id="menu-item-325" class="ion-social-twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-325"><a href="http://twitter.com/astoundify">Twitter</a></li>
                  <li id="menu-item-326" class="ion-social-facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-326"><a href="http://facebook.com/astoundify">Facebook</a></li>
                  <li id="menu-item-327" class="ion-social-googleplus menu-item menu-item-type-custom menu-item-object-custom menu-item-327"><a href="http://google.com">Google+</a></li>
                  <li id="menu-item-328" class="ion-social-instagram-outline menu-item menu-item-type-custom menu-item-object-custom menu-item-328"><a href="http://instagram.com">Instagram</a></li>
                  <li id="menu-item-329" class="ion-social-vimeo menu-item menu-item-type-custom menu-item-object-custom menu-item-329"><a href="http://vimeo.com/astoundify">Vimeo</a></li>
                </ul>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </footer>
    <footer id="colophon" class="site-footer" role="contentinfo">
      <div class="container">
        <div class="site-info">
          Copyright Astoundify © 2015. All Rights Reserved
        </div>
        <!-- .site-info -->
        <div class="site-social">
          <div class="menu-social-container">
            <ul id="menu-social" class="nav-menu-social">
              <li id="menu-item-240" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-240"><a href="http://facebook.com/astoundify">facebook</a></li>
              <li id="menu-item-241" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-241"><a href="http://twitter.com/astoundify">twitter</a></li>
              <li id="menu-item-242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-242"><a href="https://plus.google.com/">google</a></li>
              <li id="menu-item-244" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-244"><a href="http://instagram.com/">instagram</a></li>
              <li id="menu-item-246" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-246"><a href="https://vimeo.com/astoundify">vimeo</a></li>
              <li id="menu-item-8176" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8176"><a href="http://tumblr.com">tumblr</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
<!-- #page -->

</body>
</html>
