<nav class="navbar-top navbar-dark" ng-cloak>
  <div class="nav-wrapper">
    <!-- Logo -->
    <a href="/" class="brand-logo">
      <%= image_tag "ggreported_logo.png" %>
    </a><!-- /Logo -->
    <!-- Menu -->
    <ul>
      <li class="user">
        <a class="dropdown-button" data-activates="user-dropdown" href="#!">
          <% if current_user.avatar %>
              <%= image_tag "#{current_user.avatar}", class: "circle" %>
          <% else %>
              <img src="/assets/default_avatar.jpg", class="circle" >
          <% end %>
          <%= current_user.username %>
          <i class="mdi-navigation-expand-more right"></i>
        </a>
        <ul id="user-dropdown" class="dropdown-content">
          <li><%=link_to user_path(current_user) do %><i class="fa fa-user"></i> Profile <% end %></li>
          <li><%=link_to root_path do %><i class="fa fa-home"></i> Home <% end %></li>
          <li class="divider"></li>
          <li><%=link_to destroy_user_session_path, method: 'delete' do %><i class="fa fa-sign-out"></i> Sign Out <% end %></li>
        </ul>
        </li>
      </ul><!-- /Menu -->
   </div>
</nav>
<%= render template: 'layouts/application' %>
