<nav class="navbar-top navbar-dark">
  <div class="nav-wrapper">
    <a href="index.html" class="brand-logo">
      <%= image_tag "ggreported_logo.png" %>
    </a><!-- /Logo -->
    <ul>
      <li><a href="#!" class="demo-toggle"><i class="fa fa-cog"></i></a></li>
      <li>
        <i class="mdi-action-search"></i>
      </li>
      <li>
        <%= form_for Player.new, class: 'navbar-form' do |f| %>
          <%= f.text_field :name, placeholder: 'Summoner Name' %>
        </li>
        <li>
          <%= f.select :region, options_for_select(regions),{:include_blank => "Region"} %>
        </li>
        <% end %>
      <li class="user">
        <a class="dropdown-button" data-activates="user-dropdown" href="#!">
          <% if current_user.avatar %>
              <%= image_tag "#{current_user.avatar}", class: "circle" %>
              <%= current_user.username %>
              <i class="mdi-navigation-expand-more right"></i>
          <% else %>
              <img src="/assets/annie.png", class="circle" >
          <% end %>
        </a>
          <ul id="user-dropdown" class="dropdown-content">
            <li><%=link_to user_path(current_user) do %><i class="fa fa-user"></i> Profile <% end %></li>
            <li><%=link_to root_path do %><i class="fa fa-home"></i> Home <% end %></li>
            <li class="divider"></li>
            <li><%=link_to destroy_user_session_path, method: 'delete' do %><i class="fa fa-sign-out"></i> Sign Out <% end %></li>
          </ul>
        </li>
      </ul><!-- /Menu -->
   </div>
</nav>

<%= render template: 'layouts/application' %>
